.navbar {
    background-color: white; 
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 40px; 
    padding: 0;
    margin: 0;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }
  
  .navbar-links a.active {
    color: gray;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: gray; 
  }
  
  .navbar-auth {
    display: flex;
    align-items: center;
    gap: 20px; 
    color: black;
  }
  
  .navbar-auth button {
    padding: 5px 15px; 
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: #128C7E;
    color: white;
    cursor: pointer;
  }
  
  
  
  .landr {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }

  .navbar-button {
    display: inline-block;
    padding: 5px 15px; 
    border-radius: 5px; 
    text-decoration: none; 
    color: white;
    background-color: 	#128C7E; 
    font-size: 14px; 
    cursor: pointer;
  
  }