.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 40px; 
    padding: 0;
    margin: 0;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }
  
  .navbar-links a.active {
    color: gray;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: gray; 
  }
  
  .navbar-auth {
    display: flex;
    align-items: center;
    gap: 20px; 
    color: black;
  }
  
  .navbar-auth button {
    padding: 5px 15px; 
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: #128C7E;
    color: white;
    cursor: pointer;
  }
  
  
  
  .landr {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }

  .navbar-button {
    display: inline-block;
    padding: 5px 15px; 
    border-radius: 5px; 
    text-decoration: none; 
    color: white;
    background-color: 	#128C7E; 
    font-size: 14px; 
    cursor: pointer;
  
  }


  .navbar-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(18, 140, 126, 0.2), #128C7E, rgba(18, 140, 126, 0.2));
  }
  .navbar-welcome {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 15vw; 
    justify-content: flex-end;
  }